<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlueByte.SOLIDWORKS.Interops" version="2021.3.0" targetFramework="net46" />
  <package id="BlueByte.SOLIDWORKS.SDK" version="2021.0.4" targetFramework="net46" />
  <package id="SimpleInjector" version="5.4.1" targetFramework="net46" />
</packages>